**/.git
**/.gitignore
**/.gitattributes

**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.cache
**/*.log

**/bin
**/obj
**/TestResults

**/*.md

**/.env
**/.env.*
**/secrets.json
**/appsettings.*.json

docker-compose.yml
docker-compose.*.yml
README*
