services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 7114
      POSTGRES_DB: recommendationdb
    # Remove this in production; keep only if you really need DB access from host
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal

  aiserver:
    build:
      context: ./AIService
      dockerfile: Dockerfile
    restart: always
    # Remove host exposure in prod
    # ports:
    #   - "8001:8000"
    networks:
      - internal

  authapi:
    build:
      context: .
      dockerfile: AuthApi/Dockerfile
    restart: always
    depends_on:
      - postgres
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Host=postgres;Port=5432;Database=recommendationdb;Username=admin;Password=7114
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=RecommendationSystem
      - Jwt__Audience=RecommendationSystemClients
      - Admin__Emails=tim@mail.com, admin@example.com

    # Remove host exposure in prod
    # ports:
    #   - "5071:8080"
    networks:
      - internal

  analyticsapi:
    build:
      context: .
      dockerfile: AnalyticsApi/Dockerfile
    restart: always
    depends_on:
      - postgres
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Host=postgres;Port=5432;Database=recommendationdb;Username=admin;Password=7114
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=RecommendationSystem
      - Jwt__Audience=RecommendationSystemClients
    # Remove host exposure in prod
    # ports:
    #   - "5091:8080"
    networks:
      - internal

  gatewayapi:
    build:
      context: .
      dockerfile: GatewayApi/Dockerfile
    restart: always
    depends_on:
      - postgres
      - aiserver
      - authapi
      - analyticsapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__Default=Host=postgres;Port=5432;Database=recommendationdb;Username=admin;Password=7114
      - AiService__BaseUrl=http://aiserver:8000

      # Gateway needs JWT config too (to validate incoming requests)
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=RecommendationSystem
      - Jwt__Audience=RecommendationSystemClients

      # URLs Gateway will use to call internal services
      - Services__AuthBaseUrl=http://authapi:8080
      - Services__AnalyticsBaseUrl=http://analyticsapi:8080
    ports:
      - "5081:8080"
    networks:
      - public
      - internal

networks:
  public:
  internal:

volumes:
  pgdata:
